@model Bites3.Models.Game

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { gameId = Model.Id })
</p>

@Html.Partial("_Discussions", Model.Discussions)