@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Bits and Bytes is a database of games with social features such as reviews and articles. <br />
    Users are free to add to our database but registration is required.
</p>